<!DOCTYPE html>
<html dir="rtl" lang="ar">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&family=Noto+Kufi+Arabic:wght@500&display=swap" rel="stylesheet">
<style>

html, body {
    height: 50%;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

html {
    display: table;
    margin: auto;
    background-color: lightblue/* #fcde67 */;
}

body {
    display: table-cell;
    vertical-align: middle;
}
h4, h1, h3, form {
    text-align:center;
    color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p.small {
  line-height: 1.5;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لجان الصف الثاني الثانوي</title>
</head>
<body>
    <img src="/static/unnamed.png" alt="School Logo" width="35%" class="center">
    <form method="POST" style="color: white;">
        <h1>توزيع طلاب الصف الثاني الثانوي على اللجان</h1>
        <p class="small">
        وكيل شؤون الطلاب<br>
        خليفة بن مطلق الأزوري
        </p>
        <input name="text" placeholder="رقم الهوية">
        <input type="submit" value="بحث">
    </form>
</body>
</html>